<!doctype html>
<html>
  <head>
    <title>Smile Detector</title>
  </head>
  <body>
    <h1>Smile Detector</h1>

    <p>Predict if a given image contains a smiling person.</p>
    <p>See source at <a href="https://github.com/fornwall/first-image-classifier">fornwall/first-image-classifier</a>.</p>

    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept="image/*"/></p>
      <p><input type="submit" value="Submit"/></p>
    </form>

  </body>
</html>
